.Service-container {
    text-align: left;
    margin-top: 30px;
    margin-left: 300px;
    padding-bottom: 40px;
}
  
.Service-container button {
    margin-top: 150px;
    width: 10%; 
    padding: 10px; 
    background-color: #1D2B78; 
    color: #fff; 
    border: 2px solid #1D2B78; 
    border-radius: 15px;
    font-family: "Calibri", sans-serif;
    cursor: pointer;
    font-size: 15px;
}
  
.Service-container button:hover {
    background-color: #0056b3; 
}

.background-container {
    position: relative;
}

.background-image {
    position: absolute;
    top: 150px;
    left: 600px;
    width: 50%;
    height: 120%;
    opacity: 0.7; 
}

.Message-container {
    color: rgb(13, 161, 13); 
    font-size: 15px;
}
