.profile-info {
    border: 1px solid #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}


img{
    margin-left: 420px;
}
.profile-field {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
    margin-left: 450px;
}

.profile-field p {
    margin-right: 10px; 
    text-align: left;
}

.profile-field input[type="text"] {
    width: 150px;
    padding: 3px; 
}

.profile-field button {
    margin-left: 10px;
    padding: 2px 7px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.profile-field button:hover {
    background-color: #0056b3;
}

.profile-field img {
    width: 20px;
    height: 20px;
    margin-left: 300px;
    margin-right: 400px;
    cursor: pointer;
}

.profile-field img:hover {
    opacity: 0.8;
}
