.appointments-table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 50px;
}

.appointments-table th,
.appointments-table th {
  background-color: #f2f2f2; /* Background color */
  color: #5a5a5a; /* Text color */
}
.appointments-table td {
  padding: 25px 26px; /* Increased padding */
  border-top: 1px solid #ccc; /* Keep only the top border */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
}

.appointments-table th {
  background-color: #ffffff;
}

.appointments-table tbody tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.selected {
  background-color: #e1f5fe;
}

.Done-container button {
  background-color: #1D2B78; /* Green */
  color: white;
  border: none;
  padding: 10px 30px; /* Increased padding for larger size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px; /* Increased font size */
  cursor: pointer;
  border-radius: 5px;
 
}

.Done-container button:hover {
  background-color: rgb(20, 73, 20); /* Darker green */
}

/* Style for the Reject button */
.Reject-container button {
  background-color: #1D2B78; /* Red */
  color: white;
  border: none;
  padding: 10px 30px; /* Increased padding for larger size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px; /* Increased font size */
  cursor: pointer;
  border-radius: 5px;
  
}

.Reject-container button:hover {
  background-color: rgb(80, 18, 18); /* Darker red */
}
.appointment_img{
  margin-left: 600px;
  margin-top: 150px;
}

.no-appointments {
  font-size: 15p;
}