.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.login-container {
  display: flex;
  flex-direction: row-reverse;
}

.image-section {
  width: 70%; 
  text-align: left;
}

.image-section img {
  width: 90%; 
  height: auto; 
}

.form-container {
  width: 50%; 
  margin-right: 20px;
  text-align: left;
}

.switch-container {
  text-align: right;
  margin-left: 50px;
}

.switch-container p {
  color: #707070; 
  font-family: "Calibri", sans-serif;
}

.switch-container button {
  background-color: #fff;
  color: #1D2B78; 
  border: 2px solid #1D2B78; 
  padding: 9px 19px;
  border-radius: 15px;
  font-family: "Calibri", sans-serif;
  cursor: pointer;
}

.word-container {
  color: #707070; 
}

.body-container p {
  margin-bottom: 10px; 
}

.body-container input {
  border-radius: 5px;
  width: 50%;
  height: 30px;
  border: 2px solid #b7b7b7; 
  font-size:12px;
  color: #121212;
}


form button {
  width: 15%; 
  padding: 10px; 
  background-color: #1D2B78; 
  color: #fff; 
  border: 2px solid #1D2B78; 
  border-radius: 15px;
  font-family: "Calibri", sans-serif;
  cursor: pointer;
}