h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

h1::first-letter {
  font-size: 90px;
}

.card {
  border-radius: 5px;
  color: white;
  position: relative;
  width: 200px; /* Set a fixed width for the cards */
  height: 200px; /* Set a fixed height for the cards */
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 90px;
  cursor: pointer;
  overflow: hidden; /* Ensure that any overflowing content is hidden */
  background-size: cover; /* Adjust background-size property */
  background-position: center; /* Center the background image */
  display: inline-block; /* Display cards in the same line */
}

/* Styling odd cards with dark blue background */
.card:nth-child(odd) {
  background-color: #003366; /* Dark blue background */
}

/* Styling even cards with light blue background */
.card:nth-child(even) {
  background-color: #ADD8E6; /* Light blue background */
}


.card h2 {
  text-align: center;
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

.card p {
  display: none; /* Initially hide the paragraph */
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

.card:hover h2 {
  display: none; /* Hide h2 when card is hovered */
}

.card:hover p {
  display: block; /* Display the paragraph when card is hovered */
}

.button {
  color: aqua;
}
