h1 {
    text-align: center;
    font-size: 50px;
    color: #282C80;
    margin-bottom: 70px;
  }
  
  
  
  .card {
    border-radius: 5px;
    color: white;
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 4%;
    cursor: pointer;
    overflow: hidden; 
    background-size: cover;
    background-position: center; 
    display: inline-block;
  }

  .cards {
    margin-left: 10%;
  }
  
  
  .card:nth-child(odd) {
    background-color: #003366; 
  }
  
  
  .card:nth-child(even) {
    background-color: #ADD8E6;
  }
  
  
  .card h4 {
    text-align: center;
    margin: 0; 
  }
  
  .card p {
    display: none; 
    margin: 0; 
  }
  
  .card img {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: auto;
  }
  
  .card:hover h4 {
    display: none; 
  }
  
  .card:hover img {
    display: none;
  }
  
  .card:hover p {
    display: block;
  }
  
  .bottom-container {
    display: flex;
    margin-top: 70px;
  }
  
  .descrip {
    width: 50%;  
    text-align: center;
    font-size: 18px;
    margin: 20px auto 10px;
    padding: 5px 20px;
    /* white-space: nowrap; */
  }
  
  