h1 {
  text-align: center;
  font-size: 50px;
  color: #282C80;
  margin-bottom: 100px;
}

/* h1::first-letter {
  font-size: 90px;
} */

.card {
  border-radius: 5px;
  color: white;
  position: relative;
  width: 200px; /* Set a fixed width for the cards */
  height: 200px; /* Set a fixed height for the cards */
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 5.5%;
  cursor: pointer;
  overflow: hidden; /* Ensure that any overflowing content is hidden */
  background-size: cover; /* Adjust background-size property */
  background-position: center; /* Center the background image */
  display: inline-block; /* Display cards in the same line */
}

/* Styling odd cards with dark blue background */
.card:nth-child(odd) {
  background-color: #003366; /* Dark blue background */
}

/* Styling even cards with light blue background */
.card:nth-child(even) {
  background-color: #ADD8E6; /* Light blue background */
}


.card h2 {
  text-align: center;
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

.card p {
  display: none; /* Initially hide the paragraph */
  margin: 0; /* Remove default margin */
}

.card img {
  position: absolute;
  bottom: 10px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: auto;
}

.card:hover h2 {
  display: none; /* Hide h2 when card is hovered */
}

.card:hover img {
  display: none; /* Hide h2 when card is hovered */
}

.card:hover p {
  display: block; /* Display the paragraph when card is hovered */
}

.bottom-container {
  display: flex;
  margin-top: 50px;
}

.descrip {
  width: 50%;
  /* display: flex;
  flex-direction: left; */
  font-size: 19px;
  margin: 50px 7%;
  padding: 5px 20px;
  white-space: nowrap;
}

.button {
  /* display: flex;
  flex-direction: right; */
  margin: 50px 25%;
  padding: 10px 30px;
  color: white;
  background-color: #008DDA;
  border-radius: 50px;
  font-weight: bold;
  white-space: nowrap;
}

.botton:hover {
  margin: 50px 25%;
  padding: 10px 30px;
  color: white;
  background-color: #00a6ff;
  border-radius: 50px;
  font-weight: bold;
  white-space: nowrap;
}
