.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading-container {
  margin-top: 100px;
}

.App-link {
  color: #61dafb;
}


.login-container {
  display: flex;
  flex-direction: row-reverse;

}

.image-section {
  width: 70%; 
  height: 100%;
  text-align: left;
}

.image-section img {
  width: 90%; 
  height: auto; 
}

.form-container {
  width: 50%; 
  margin-right: 100px;
  text-align: left;
}


.switch-container p {
  color: #707070; 
  font-family: "Calibri", sans-serif;
  text-align: right;
  margin-top: 20px;
  margin-right: 10px;
}
/* 
.switch-container button {
  background-color: #fff;
  color: #1D2B78; 
  border: 2px solid #1D2B78; 
  padding: 9px 19px;
  border-radius: 15px;
  font-family: "Calibri", sans-serif;
  cursor: pointer;
} */

.word-container {
  color: #707070; 
  margin-top: 8px;
  margin-left: 60px;
}
.body-container{
  margin-left: 60px;
  margin-top: 20px;
}
.body-container p {
  margin-bottom: 10px; 
  margin-top: 10px;
}



form button {
  width: 15%; 
  padding: 10px; 
  background-color: #1D2B78; 
  color: #fff; 
  border: 2px solid #1D2B78; 
  border-radius: 15px;
  font-family: "Calibri", sans-serif;
  cursor: pointer;
  margin-left: 60px;
}

h2{
  margin-top: 30px;
  margin-left: 60px;
  font-size: 28px;
}
.login{
  margin-left:58px;
}
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .image-section {
    display: none;
  }

  .form-container {
    max-width: 100%;
  }
}
